* {
    padding: 0;
    margin: 0;
}

//LOGO AND INPUT
.container {
    background-image: url(../images/back2.jfif);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    .logo-box {
        cursor: pointer;
        text-align: center;
    }

    .logo {
        width: 900px;
        display:block;
        height:auto;
        transition:0.2s
    }

    .search-div {
        margin: 80px 0 90px 0;
        height: 40px;
    }

    .search-input {
        border-radius: 10px;
        width: 350px;
        height: 50px;
        border: none;
        padding: 5px 5px 5px 15px;
        margin-right: 15px;
        font-family: 'Didact Gothic', sans-serif;
        background: radial-gradient(rgba(22, 122, 55, 0.133) 30%, rgba(9, 115, 41, 0.267));
        box-shadow: 5px 5px 10px rgba(6, 33, 9, 0.467), -1px -1px 2px #78b7a3, 1px 1px 2px #0e5f3c;
        color: white;
        font-size: 18px;
        letter-spacing: 2px;
        transition: 0.8s;
    }

    .search-input:focus {
        outline: none;
    }

    .search-input:hover{
        transform: scale(1.1);
    }

    ::placeholder{
        color: white;
        opacity: 0.75;
        font-style: italic;
    }

    .search-btn {
        border-radius: 10px;
        width: 100px;
        height: 30px;
        border: none;
    }
}

//OL & DIVS

ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 4%;

    .flip-card {
        background-color: transparent;
        border-radius: 30px;
        width: 400px;
        height: 570px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        margin: 30px;
    }

    //container needed to position the front and back side
    .flip-card-inner {
        border: 8px solid #E5D9B6;
        position: relative;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1.2s;
        transform-style: preserve-3d;
    }

    //horizontal flip on hover over flip box container
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
    //position the front and back side
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      

    //style the front side
    .flip-card-front {

        .poke-id {
            margin-top: 15px;
            position: absolute;
            margin-top: 20px;
            margin-left: 350px;
            font-family: 'Righteous', cursive;
            color: #FEFAE0;
        
        }

        .poke-name {
            margin: 20px 0;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-family: 'Righteous', cursive;
            color: #FEFAE0;
        }

        .poke-img {
            display: flex;
            justify-content: center;

            img {
                width: 90%;
                height: 90%;
            }
        }

        .poke-types {
            font-family: 'Didact Gothic', sans-serif;
            color: #FEFAE0;
            margin: 5px;

            h5 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
                font-style: italic;
            }
        }

        .poke-body {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: 'Didact Gothic', sans-serif;
            color: #FEFAE0;
            margin: 10px;

            .poke-body-h, .poke-body-w {
                display: flex;
                align-items: center;
                
                h5 {
                    font-size: 15px;
                    margin-right: 15px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }

    //style the back side 
    .flip-card-back {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;

        
        
        .poke-ability {
            font-family: 'Didact Gothic', sans-serif;
            color: #FEFAE0;

            h5 {
                margin: 10px;
                text-transform: uppercase;
            }
            
            p {
                font-size: 13px;
                margin: 10px;
            }
        }
      }
}