* {
  padding: 0;
  margin: 0;
}

.container {
  background-image: url(../images/grass.jpg);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container nav {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  width: 85.5vw;
  height: 10vh;
  background: radial-gradient(rgba(22, 122, 55, 0.133) 30%, rgba(9, 115, 41, 0.267));
  box-shadow: 5px 5px 10px rgba(6, 33, 9, 0.467), -1px -1px 2px #78b7a3, 1px 1px 2px #0e5f3c;
  font-family: "Didact Gothic", sans-serif;
  color: white;
}
.container nav .links-container {
  display: flex;
}
.container nav .links-container .poke-section, .container nav .links-container .to-do-list {
  text-align: center;
  line-height: 5;
  width: 150px;
  height: 100%;
  transition: all ease 0.8s;
}
.container nav .links-container .poke-section a, .container nav .links-container .to-do-list a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: bolder;
}
.container nav .links-container .poke-section:hover, .container nav .links-container .to-do-list:hover {
  background: rgba(4, 56, 32, 0.37);
  border-bottom: white;
  border-width: 5px;
}
.container nav .gif-container {
  width: 65px;
  height: 100%;
}
.container nav .gif-container img {
  width: 100%;
  height: 100%;
}
.container .logo-box {
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
}
.container .logo {
  width: 750px;
  height: auto;
  transition: 0.2s;
}
.container .search-div {
  margin: 80px 0 90px 0;
  height: 40px;
}
.container .search-input {
  border-radius: 10px;
  width: 350px;
  height: 50px;
  border: none;
  padding: 5px 5px 5px 15px;
  margin-right: 15px;
  font-family: "Didact Gothic", sans-serif;
  background: radial-gradient(rgba(22, 122, 55, 0.361) 30%, rgba(9, 115, 41, 0.457));
  box-shadow: 5px 5px 10px rgba(6, 33, 9, 0.467), -1px -1px 2px #78b7a3, 1px 1px 2px #0e5f3c;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  transition: 0.8s;
}
.container .search-input:focus {
  outline: none;
}
.container .search-input:hover {
  transform: scale(1.1);
}
.container ::-moz-placeholder {
  color: white;
  opacity: 0.75;
  font-style: italic;
}
.container ::placeholder {
  color: white;
  opacity: 0.75;
  font-style: italic;
}
.container .search-btn {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  border: none;
}
.container ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 4%;
}
.container ol .flip-card {
  background-color: transparent;
  border-radius: 30px;
  width: 400px;
  height: 570px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 30px;
}
.container ol .flip-card-inner {
  border: 8px solid #E5D9B6;
  position: relative;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.578);
}
.container ol .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.container ol .flip-card-front, .container ol .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.container ol .flip-card-front .poke-id {
  margin-top: 15px;
  position: absolute;
  margin-top: 20px;
  margin-left: 350px;
  font-family: "Righteous", cursive;
  color: #FEFAE0;
}
.container ol .flip-card-front .poke-name {
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Righteous", cursive;
  color: #FEFAE0;
}
.container ol .flip-card-front .poke-img {
  display: flex;
  justify-content: center;
}
.container ol .flip-card-front .poke-img img {
  width: 90%;
  height: 90%;
}
.container ol .flip-card-front .poke-types {
  font-family: "Didact Gothic", sans-serif;
  color: #FEFAE0;
  margin: 5px;
}
.container ol .flip-card-front .poke-types h5 {
  font-size: 20px;
}
.container ol .flip-card-front .poke-types p {
  font-size: 16px;
  font-style: italic;
}
.container ol .flip-card-front .poke-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Didact Gothic", sans-serif;
  color: #FEFAE0;
  margin: 10px;
}
.container ol .flip-card-front .poke-body .poke-body-h, .container ol .flip-card-front .poke-body .poke-body-w {
  display: flex;
  align-items: center;
}
.container ol .flip-card-front .poke-body .poke-body-h h5, .container ol .flip-card-front .poke-body .poke-body-w h5 {
  font-size: 15px;
  margin-right: 15px;
}
.container ol .flip-card-front .poke-body .poke-body-h p, .container ol .flip-card-front .poke-body .poke-body-w p {
  font-size: 12px;
}
.container ol .flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}
.container ol .flip-card-back .poke-ability {
  font-family: "Didact Gothic", sans-serif;
  color: #FEFAE0;
}
.container ol .flip-card-back .poke-ability h5 {
  margin: 10px;
  text-transform: uppercase;
}
.container ol .flip-card-back .poke-ability p {
  font-size: 13px;
  margin: 10px;
}
.container footer {
  margin-top: 60px;
  padding: 30px 10px;
  width: 85.5vw;
  height: 3vh;
  background-color: rgba(249, 243, 223, 0.831372549);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Didact Gothic", sans-serif;
  color: #20262E;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 15px;
}
.container footer .social a {
  margin: 0 25px;
  text-decoration: none;
}
.container footer .social a img {
  width: 40px;
  opacity: 5;
  transition: 0.7s;
}
.container footer .social a:hover img {
  opacity: 0.5;
}/*# sourceMappingURL=styles.css.map */