* {
    padding: 0;
    margin: 0;
}


//LOGO AND INPUT
.container {
    background-image: url(../images/grass.jpg);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;


    //NAVBAR
    nav {
        display: flex;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
        width: 85.5vw;
        height: 10vh;
        background: radial-gradient(rgba(22, 122, 55, 0.133) 30%, rgba(9, 115, 41, 0.267));
        box-shadow: 5px 5px 10px rgba(6, 33, 9, 0.467), -1px -1px 2px #78b7a3, 1px 1px 2px #0e5f3c;
        font-family: 'Didact Gothic', sans-serif;
        color: white;

        .links-container {
            display: flex;

            .poke-section, .to-do-list {
                text-align: center;
                line-height: 5;
                width: 150px;
                height: 100%;
                transition: all ease 0.8s;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 12px;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    font-weight: bolder;
                }

            }

            .poke-section:hover, .to-do-list:hover {
                background: rgb(4, 56, 32, 0.37);
                border-bottom: white;
                border-width: 5px;
            }
        }

        .gif-container {
            width: 65px;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }


    //LOGO CONFIG
    .logo-box {
        margin-top: 30px;
        cursor: pointer;
        text-align: center;
    }

    .logo {
        width: 750px;
        height:auto;
        transition:0.2s
    }


    //SEARCH INPUT
    .search-div {
        margin: 80px 0 90px 0;
        height: 40px;
    }

    .search-input {
        border-radius: 10px;
        width: 350px;
        height: 50px;
        border: none;
        padding: 5px 5px 5px 15px;
        margin-right: 15px;
        font-family: 'Didact Gothic', sans-serif;
        background: radial-gradient(rgba(22, 122, 55, 0.361) 30%, rgba(9, 115, 41, 0.457));
        box-shadow: 5px 5px 10px rgba(6, 33, 9, 0.467), -1px -1px 2px #78b7a3, 1px 1px 2px #0e5f3c;
        color: white;
        font-size: 18px;
        letter-spacing: 2px;
        transition: 0.8s;
    }

    .search-input:focus {
        outline: none;
    }

    .search-input:hover{
        transform: scale(1.1);
    }

    ::placeholder{
        color: white;
        opacity: 0.75;
        font-style: italic;
    }

    .search-btn {
        border-radius: 10px;
        width: 100px;
        height: 30px;
        border: none;
    }

//OL & DIVS

ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .flip-card {
        background-color: transparent;
        border-radius: 30px;
        width: 300px;
        height: 470px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
        margin: 30px;
    }

    //container needed to position the front and back side
    .flip-card-inner {
        border: 8px solid #E5D9B6;
        position: relative;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1.2s;
        transform-style: preserve-3d;
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.578);
    }

    //horizontal flip on hover over flip box container
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
    //position the front and back side
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      

    //style the front side
    .flip-card-front {

        .poke-id {
            margin-top: 15px;
            position: absolute;
            margin-top: 20px;
            margin-left: 250px;
            font-family: 'Righteous', cursive;
            color: #FEFAE0;
        
        }

        .poke-name {
            margin: 20px 0;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-family: 'Righteous', cursive;
            color: #FEFAE0;
        }

        .poke-img {
            display: flex;
            justify-content: center;

            img {
                width: 90%;
                height: 90%;
            }
        }

        .poke-types {
            font-family: 'Didact Gothic', sans-serif;
            color: #FEFAE0;
            margin: 5px;

            h5 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
                font-style: italic;
            }
        }

        .poke-body {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: 'Didact Gothic', sans-serif;
            color: #FEFAE0;
            margin: 10px;

            .poke-body-h, .poke-body-w {
                display: flex;
                align-items: center;
                
                h5 {
                    font-size: 15px;
                    margin-right: 15px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }

    //style the back side 
    .flip-card-back {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;

        
        
        .poke-ability {            
            font-family: 'Didact Gothic', sans-serif;
            color: #FEFAE0;
            width: 100%;

            h5 {
                margin: 10px;
                text-transform: uppercase;
            }

            h6 {
                margin: 20px 10px 10px 10px;
                text-transform: uppercase;
            }
            
            p {
                font-size: 13px;
                margin: 10px;
            }
        }
      }
    }

    footer{
        margin-top: 60px;
        padding: 30px 10px;
        width: 97.6vw;
        height: 3vh;
        background-color: #f9f3dfd4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Didact Gothic', sans-serif;
        color: #20262E;
        font-weight: bolder;
        letter-spacing: 2px;
        font-size: 15px;
    
        .social {
            
            a {
                margin: 0 25px; 
                text-decoration: none;
    
                img {
                    width: 40px;
                    opacity: 5;
                    transition: 0.7s;
                }
            }

            a:hover {
                img {
                    opacity: 0.5;
                }
            }
        }
    
    }

}



